@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lora&family=Petit+Formal+Script&family=Poiret+One&family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
}

main {
   background-color:  rgb(12 10 9);
}


.custom-img {
    background-image: url('/corner_coffee_hero.jpg');
 }

 .banner-img {
    background-image: url('/banner-home-2.jpg');
 }

 .shop-img {
    background-image: url('/shop-img.jpg');
 }

 .shop-img-2 {
    background-image: url('/shop-img-2.1.jpg');
 }

 .shop-img-3 {
    background-image: url('/shop-img-3.jpg');
 }

 .discover-img {
    background-image: url('/discover-about.jpg');
 }

 .review-img {
    background-image: url('/review.jpg');
 }